body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer,
.top {
    background-color: #1F2937;
    color: #FFF;
    padding: 18px;
    width: 100%;
}

.home {
    display: flex;
}

.home li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.header-image {
    display: flex;
    justify-content: space-around;

}

footer {
    text-align: center;
}

/*Header Logo*/
.home h3 {
    font-size: 24px;
    color: #f9FAF8;
}

/*This website is awesome*/
.page-title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9FAF8;
}

.quote {
    background-color: #E5E7EB;
}

.quote #main {
    font-size: 36px;
    color: #1F2937;
}

/*Header links & hero secondary*/
.home li,
.page-title p {
    font-size: 18px;
    color: #E5E7EB;
}

.bottom,
button {
    background-color: #3882F6;
    color: #FFF
}

.bottom {
    padding: 0px 52px 6px 52px;
    border-radius: 12px;
    display: flex;
}

#main {
    padding: 0px 256px;
}

.blocks {
    display: flex;
}