* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer,
.top {
    background-color: #1F2937;
    color: #FFF;
    width: 100%;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.home li {
    list-style: none;
    margin: 0;
    padding: 0px 10px;
    display: inline;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

footer {
    text-align: center;
    padding: 24px;
}

/*Header Logo*/
.home h3 {
    font-size: 32px;
    color: #f9FAF8;
}

/*This website is awesome*/
.page-title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9FAF8;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 40px;
    min-height: 400px;
    width: 100%;
}

.quote #main {
    font-size: 36px;
    color: #1F2937;
}

/*Header links & hero secondary*/
.home li,
.page-title p {
    font-size: 18px;
    color: #E5E7EB;
}

.bottom,
button {
    background-color: #3882F6;
    color: #FFF;
}

.bottom {
    padding: 30px 75px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.blocks {
    display: flex;
}

.quote-align {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.monkey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    border-radius: 20px;
}

.monkey p {
    font-size: 20px;
}

.bottom button,
.page-title button {
    height: 32px;
    width: 84px;
    border: 1.5px solid #FFF;
    border-radius: 10px;
}

.bottom h4,
.bottom p {
    margin: 0;
}

.page-title button {
    margin-top: 10px;
}

.page-title {
    margin-right: 90px;
    margin-left: 80px;
    width: 750px;
}

.top-middle h2 {
    text-align: center;
    font-size: 50px;
}

.smile {
    margin-left: 280px;
}

.bottom button {
    margin-left: 46px;
}

#author {
    text-align: right;
}

.page-title button:hover,
.bottom button:hover {
    background-color: #fff;
    color: #5a9dfb;
}

footer a {
    text-decoration: none;
    color: #5a9dfb;
}

.home a {
    text-decoration: none;
    color: #FFF;
}

.home a:hover,
footer a:hover {
    color: #E5E7EB;
}